<h1>sign</h1>
<form action="./plugin.php?id=smart_vote&model=post" method="post"> 
    <div>
        <label>name</label> 
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label>mobile</label>
        <input type="text" id="mobile" name="mobile"/>
    </div>
    <div>
        <label>text</label>
        <input type="text" id="text" name="text"/>
    </div>
    <div>
        <label>file</label>
        <input type="file" name="file" id="file" value=""/>
        
    </div>
        <input type="submit">
</form>